/* fijate como ocultamos todo el modal solo con la opacidad pero hay que desactivarle los eventos del mouse porque está arriba */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #000000bd;
  display: grid;
  align-items: center;
  /* no confundas background-color con opacidad */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}
/* fijate le quedan preciosos los colores usando un color de relleno cualquiera y la fuente en blanco y revertiendo esos dos colores(como los outlined)*/
/* Fijate como tambien meter un boton en un background que tiene un bgc y darle a ese boton ese mismo color es también una buena idea */
.modal__container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  height: 90%;
  max-height: 450px;
  background-color: #fff;
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 3em 2.5em;
  border-radius: 6px;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 2.5rem;
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

/* hacer un modal en el admin dashboard */
.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.modal__close {
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.1em;
  width: 100%;
  padding: 1em 3em;
  background-color: #f26250;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
  cursor: pointer;
}

.modal__close:hover {
  background-color: white;
  color: #f26250;
}

.modal__stay {
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  width: 100%;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 1em 3em;
  background-color: #289414;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
  cursor: pointer;
}

.modal__stay:hover {
  background-color: white;
  color: #289414;
}

/* .modal--show va a mostrar el modal,lógicamente recupero los eventos del mouse con pointer-events:unset y lo muestro recuperando su opacidad */
.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0%);
  --transition: transform 0.8s 0.8s;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .modal__container {
    max-width: 80% !important;
    padding: 1em 0.5em;
  }

  .modal__buttons {
    flex-direction: row;
  }

  .modal__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .modal__container {
    padding: 1.5em;
    text-align: center;
    max-height: 400px;
    max-width: 300px;
  }
  .modal__buttons {
    flex-direction: column;
  }
}
